<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="userRules" type="DLMSoft.MiniPAC.Configuration.UserRuleSectionHandler,MiniPAC"/>
	</configSections>
	<appSettings>
		<add key="httpPort" value="18001"/>
		<add key="autoStart" value="false"/>
		<add key="setProxy" value="true"/>
		<add key="proxyType" value="SOCKS5"/>
		<add key="proxyHost" value="127.0.0.1"/>
		<add key="proxyPort" value="1080"/>
	</appSettings>
	<userRules>
	</userRules>
</configuration>
